<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Center</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/built/screen.css?v=cc76ca164b"
    />
    <meta
      name="description"
      content="A quick one-stop dashboard to see all current events running! You are likely at this page because no events are running..."
    />
    <link
      rel="icon"
      href="https://blog.multi-brick.com/2023/04/bitmap_o--1-.png"
      type="image/png"
    />
    <link rel="canonical" href="https://blog.multi-brick.com/events/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta property="og:site_name" content="MultiBrick" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Event Center" />
    <meta
      property="og:description"
      content="A quick one-stop dashboard to see all current events running! You are likely at this page because no events are running..."
    />
    <meta property="og:url" content="https://blog.multi-brick.com/events/" />
    <meta
      property="article:published_time"
      content="2023-01-07T23:13:50.000Z"
    />
    <meta property="article:modified_time" content="2023-07-24T20:12:37.000Z" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Event Center" />
    <meta
      name="twitter:description"
      content="A quick one-stop dashboard to see all current events running! You are likely at this page because no events are running..."
    />
    <meta name="twitter:url" content="https://blog.multi-brick.com/events/" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Maxed1" />
    <meta name="twitter:site" content="@multibrick" />
    <meta name="twitter:creator" content="@Maxed47" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "publisher": {
          "@type": "Organization",
          "name": "MultiBrick",
          "url": "https://blog.multi-brick.com/",
          "logo": {
            "@type": "ImageObject",
            "url": "https://blog.multi-brick.com/2023/04/full_final_trademark_o--1-.png"
          }
        },
        "author": {
          "@type": "Person",
          "name": "Maxed1",
          "image": {
            "@type": "ImageObject",
            "url": "https://blog.multi-brick.com/content/images/2021/09/timeline--49-.png"
          },
          "url": "https://blog.multi-brick.com/author/maxed/",
          "sameAs": [
            "https://twitter.com/Maxed47",
            "https://twitter.com/Maxed47"
          ]
        },
        "headline": "Event Center",
        "url": "https://blog.multi-brick.com/events/",
        "datePublished": "2023-01-07T23:13:50.000Z",
        "dateModified": "2023-07-24T20:12:37.000Z",
        "description": "A quick one-stop dashboard to see all current events running! You are likely at this page because no events are running...",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://blog.multi-brick.com/"
        }
      }
    </script>
    <meta name="generator" content="Ghost 5.35" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="MultiBrick"
      href="https://blog.multi-brick.com/rss/"
    />
    <script
      defer
      src="/sodo-search.min.js"
      data-key="0fc2f5f34a75dc8960d053581c"
      data-styles="/main.css"
      data-sodo-search="https://blog.multi-brick.com/"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://blog.multi-brick.com/webmentions/receive/"
      rel="webmention"
    />
    <script defer src="/public/cards.min.js?v=cc76ca164b"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/cards.min.css?v=cc76ca164b"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

      .sep {
        display: none;
      }

      .post-card-meta-length {
        display: none;
      }

      .byline-reading-time {
        display: none;
      }

      html {
        font-family: montserrat, sans-serif;
      }

      body {
        font-family: montserrat, sans-serif;
      }

      .gh-content > blockquote:not([class]),
      .gh-content > dl,
      .gh-content > ol,
      .gh-content > p,
      .gh-content > ul {
        font-family: montserrat, sans-serif;
        font-size: 1.8rem;
      }
    </style>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RYGCJBBDXR"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RYGCJBBDXR");
    </script>
    <script>
      setTimeout(() => {
        if (document.getElementsByClassName("gh-social")[0]) {
          document.getElementsByClassName("gh-social")[0].innerHTML +=
            '<a class="gh-social-link" href="https://discord.gg/multibrick" title="Discord" target="_blank" rel="noopener"><svg class="icon" viewBox="0 0 12.5 12.5" xmlns="http://www.w3.org/2000/svg" fill="currentColor"> <g stroke-width="1.48" clip-path="url(#a)" transform="matrix(.179 0 0 .179 0 1.44)"><path fill="#fff" d="M60.1 4.9A58.5 58.5 0 0 0 45.4.5l-1.8 3.7a54 54 0 0 0-16.2 0 37.4 37.4 0 0 0-2-3.8A58.4 58.4 0 0 0 10.7 5 60 60 0 0 0 .4 45.6a58.9 58.9 0 0 0 18 8.8 42 42 0 0 0 3.6-5.9l-.1-.3c-2-.7-3.8-1.6-5.6-2.6a.2.2 0 0 1 0-.4 30.3 30.3 0 0 0 1.3-.9 42 42 0 0 0 36 0l1 1c.2 0 .2.2 0 .3-1.7 1-3.6 1.9-5.5 2.6a47.2 47.2 0 0 0 3.8 6.3 58.7 58.7 0 0 0 17.8-9.1A59.5 59.5 0 0 0 60 4.9ZM23.7 37.3c-3.5 0-6.4-3.2-6.4-7.1 0-4 2.9-7.2 6.4-7.2 3.6 0 6.5 3.3 6.4 7.2 0 4-2.8 7.1-6.4 7.1zm23.6 0c-3.5 0-6.4-3.2-6.4-7.1 0-4 2.9-7.2 6.4-7.2 3.6 0 6.5 3.3 6.4 7.2 0 4-2.8 7.1-6.4 7.1z"></path></g></svg></a>';
          document.getElementsByClassName("gh-social")[0].innerHTML +=
            '<a class="gh-social-link" href="https://www.instagram.com/multibrick/" title="Instagram" target="_blank" rel="noopener"><svg class="icon" viewBox="0.5 0.5 11 11" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path fill="#fff" d="M6.35 1.06c-1.44 0-1.62 0-2.18.03s-.95.11-1.29.25a2.6 2.6 0 0 0-.93.6 2.6 2.6 0 0 0-.61.94c-.14.34-.22.72-.25 1.29-.03.56-.03.74-.03 2.18 0 1.44 0 1.62.03 2.18s.11.95.25 1.29a2.6 2.6 0 0 0 .6.93 2.6 2.6 0 0 0 .94.61c.34.14.72.22 1.29.25.56.03.74.03 2.18.03 1.44 0 1.62 0 2.18-.03s.95-.11 1.29-.25a2.59 2.59 0 0 0 .93-.6 2.6 2.6 0 0 0 .61-.94c.13-.34.22-.72.25-1.29.03-.56.03-.74.03-2.18 0-1.44 0-1.62-.03-2.18a3.9 3.9 0 0 0-.25-1.29 2.6 2.6 0 0 0-.6-.93 2.59 2.59 0 0 0-.94-.61 3.88 3.88 0 0 0-1.29-.25 37.9 37.9 0 0 0-2.18-.03zM5.88 2h.47c1.41 0 1.58 0 2.14.03.51.03.8.11.98.18.25.1.42.21.61.4a1.64 1.64 0 0 1 .4.6c.07.2.15.48.18.99.02.56.03.73.03 2.14 0 1.41 0 1.58-.03 2.14-.03.51-.11.8-.18.98a1.64 1.64 0 0 1-.4.6 1.64 1.64 0 0 1-.6.4c-.2.07-.48.16-1 .18-.55.03-.72.04-2.13.04s-1.58-.01-2.14-.04c-.51-.02-.8-.1-.98-.18a1.64 1.64 0 0 1-.6-.4 1.64 1.64 0 0 1-.4-.6 2.94 2.94 0 0 1-.19-.98c-.02-.56-.03-.73-.03-2.14 0-1.42 0-1.58.03-2.14.03-.52.11-.8.18-.98a1.64 1.64 0 0 1 .4-.61 1.64 1.64 0 0 1 .61-.4c.19-.07.47-.16.98-.18.5-.02.68-.03 1.67-.03zm3.3.88a.64.64 0 1 0 0 1.27.64.64 0 0 0 0-1.27zm-2.83.74a2.72 2.72 0 1 0 0 5.44 2.72 2.72 0 0 0 0-5.44zm0 .96a1.76 1.76 0 1 1 0 3.52 1.76 1.76 0 0 1 0-3.52z"></path></svg></a>';
          document.getElementsByClassName("gh-social")[0].innerHTML +=
            '<a class="gh-social-link" href="https://www.youtube.com/c/multibrick" title="YouTube" target="_blank" rel="noopener"><svg class="icon" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path fill="#fff" d="M5.08 8.25v-3.8l3.3 1.9zm7.36-4.95a1.59 1.59 0 0 0-1.13-1.13c-.98-.26-4.95-.26-4.95-.26s-3.98 0-4.97.26A1.59 1.59 0 0 0 .27 3.3C0 4.28 0 6.35 0 6.35S0 8.42.27 9.4c.15.56.58.98 1.12 1.13 1 .26 4.97.26 4.97.26s3.97 0 4.95-.26a1.6 1.6 0 0 0 1.13-1.13c.26-.98.26-3.05.26-3.05s0-2.07-.26-3.05"></path></svg></a>';
          document.getElementsByClassName("gh-social")[0].innerHTML +=
            '<a class="gh-social-link" href="https://www.tiktok.com/@multibrick" title="TikTok" target="_blank" rel="noopener"><svg class="icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" fill="currentColor"> <g clip-path="url(#a)" transform="matrix(.35278 0 0 -.35278 -242.54 240.91)"><path fill="#fff" d="M692.43 659.4a9.47 9.47 0 0 1 9.5-9.5 9.5 9.5 0 0 1 9.49 9.5v10.48a12.3 12.3 0 0 1 7.17-2.3v5.15a7.18 7.18 0 0 0-5.41 2.47 7.14 7.14 0 0 0-1.76 4.7h-5.16l-.01-20.66a4.34 4.34 0 1 0-3.05 4.3v5.26c-.42.06-.85.09-1.28.1l-.22-.01a9.5 9.5 0 0 1-9.27-9.5z"></path></g></svg></a>';
          document.getElementsByClassName("gh-social")[0].innerHTML +=
            '<a class="gh-social-link" href="https://www.twitch.tv/multibrick" title="Twitch" target="_blank" rel="noopener"><svg class="icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" fill="currentColor"> <path fill="#fff" d="M10.89 1.06v5.29l-3.4 3.4H5.96l-1.89 1.9v-1.9H1.81v-6.8l1.9-1.9zm-.76.75H4.08v5.67h1.7v1.33L7.1 7.48h1.5l1.52-1.5zM9 3.14v2.27h-.76V3.14zm-2.09 0v2.27h-.75V3.14h.76z"></path></svg></a>';
        }
      }, 10);
    </script>
    <div id="logomark">
      <a href="https://www.multi-brick.com/dashboard/"
        ><img
          loading="lazy"
          src="https://blog.multi-brick.com/2023/01/full-final-trademark-compressed-2022-02-11.svg"
      /></a>
    </div>
    <div class="ContentHolder">
      <div class="AlertEvent">
        <h1>There are no MultiBrick events running at this time!</h1>
        <h3>Use this link when events are running to access them!</h3>
        <div style="color: #525252">(multi-brick.com/events)</div>
      </div>
      <div class="EventSection">
        <div class="Heading1">Upcoming Events</div>
        <hr />
        <div class="EventCollage">No upcoming events at this time.</div>
      </div>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");
      body {
        background: #242426;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        color: white;
        position: relative;
        overflow-y: hidden;
      }

      .EventInfo {
        width: 100%;
        height: 100%;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10px;
        text-align: center;
        text-shadow: black 1px 0 5px;
        border-radius: 5px;
        position: relative;
        transition: all 0.3s ease;
      }

      .EventInfo:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
      }

      .EventText {
        width: 100%;
        height: 30%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        justify-content: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .EventCollage {
        display: grid;
        height: 200px;
        width: 100%;
        grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
        grid-template-rows: 100%;
        column-gap: 10px;
      }

      hr {
        margin: 0.6em 0 0.6em;
      }

      .AlertEvent {
        text-align: center;
      }

      .AlertEvent h3 {
        color: #525252;
        margin-top: 1px;
      }

      .EventSection {
        width: 100%;
        text-align: left;
      }

      .Heading1::after {
        display: inline-block;
        content: " ";
        background-image: url(https://blog.multi-brick.com/2023/01/timer.svg);
        position: relative;
        top: 5.5px;
        margin-left: 8px;
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        color: rgb(255, 255, 255);
        filter: brightness(2000%);
      }

      .Heading1 {
        font-size: 1.2em;
      }

      #logomark {
        width: 200px;
        position: absolute;
        cursor: pointer;
        top: 20px;
        left: 10px;
      }

      .ContentHolder {
        display: grid;
        justify-items: center;
        width: 100%;
        max-width: 1140px;
        min-width: 748px;
        height: 50%;
      }

      h1 {
        margin-top: 10px;
        font-weight: 600;
        font-size: 2em;
      }

      @media (max-width: 800px) {
        #logomark {
          width: 200px;
          position: fixed;
          cursor: pointer;
          top: 20px;
          left: auto;
          margin-left: auto;
          margin-right: auto;
        }

        .EventText {
          font-size: 70%;
        }

        .ContentHolder {
          display: grid;
          justify-items: center;
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          padding: 20px;
          height: 70%;
        }

        .EventCollage {
          display: grid;
          height: 500px;
          width: 100%;
          grid-template-rows: 24.25% 24.25% 24.25% 24.25%;
          grid-template-columns: 100%;
          row-gap: 10px;
        }
      }
    </style>
    <script>
      activate();

      function activate() {
        setTimeout(() => {
          if (document.getElementsByClassName("viewport")[0]) {
            document.getElementsByClassName("viewport")[0].remove();
          }
        }, 10);
      }
    </script>
    <style>
      :root {
        --ghost-accent-color: #00062c;
      }
    </style>
  </head>
  <body class="page-template page-events has-cover">
    <div class="viewport">
      <header id="gh-head" class="gh-head outer">
        <nav class="gh-head-inner inner">
          <div class="gh-head-brand">
            <a class="gh-head-logo" href="https://blog.multi-brick.com">
              <img
                src="https://blog.multi-brick.com/2023/04/full_final_trademark_o--1-.png"
                alt="MultiBrick"
              />
            </a>
            <div class="gh-head-brand-wrapper">
              <button class="gh-search" data-ghost-search>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                  width="20"
                  height="20"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  ></path>
                </svg>
              </button>
              <a class="gh-burger" role="button">
                <div class="gh-burger-box">
                  <div class="gh-burger-inner"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="gh-head-menu">
            <ul class="nav">
              <li class="nav-home">
                <a href="https://blog.multi-brick.com/">Home</a>
              </li>
              <li class="nav-event">
                <a href="https://blog.multi-brick.com/event/">Event</a>
              </li>
              <!-- <li class="nav-jobs">
                <a href="https://blog.multi-brick.com/multibrick-is-hiring/"
                  >Jobs</a
                >
              </li> -->
            </ul>
          </div>
          <div class="gh-head-actions">
            <button class="gh-search" data-ghost-search>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                width="20"
                height="20"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                ></path>
              </svg>
            </button>
            <div class="gh-social">
              <a
                class="gh-social-link gh-social-twitter"
                href="https://twitter.com/multibrick"
                title="Twitter"
                target="_blank"
                rel="noopener"
                ><svg
                  class="icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                >
                  <path
                    d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"
                  /></svg
              ></a>
            </div>
          </div>
        </nav>
      </header>
      <div class="site-content">
        <main id="site-main" class="site-main">
          <article class="article post no-image">
            <header class="article-header gh-canvas">
              <h1 class="article-title">Event Center</h1>
            </header>
            <section class="gh-content gh-canvas"></section>
          </article>
        </main>
      </div>
      <footer class="site-footer outer">
        <div class="inner">
          <section class="copyright">
            <a href="https://blog.multi-brick.com">MultiBrick </a> &copy; <%= year %>
          </section>
          <nav class="site-footer-nav"></nav>
          <!-- <div>
            <a href="https://ghost.org/" target="_blank" rel="noopener"
              >Powered by Ghost</a
            >
          </div> -->
        </div>
      </footer>
    </div>
    <script
      src="/jquery-3.5.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/built/casper.js?v=cc76ca164b"></script>
    <script>
      $(document).ready(function () {
        // Mobile Menu Trigger
        $(".gh-burger").click(function () {
          $("body").toggleClass("gh-head-open");
        });
        // FitVids - Makes video embeds responsive
        $(".gh-content").fitVids();
      });
    </script>
  </body>
</html>
