<nav class="gh-head-inner inner">
    <div class="gh-head-brand">
      <a class="gh-head-logo" href="https://blog.multi-brick.com">
        <img
          src="https://blog.multi-brick.com/2023/04/full_final_trademark_o--1-.png"
          alt="MultiBrick"
        />
      </a>
      <div class="gh-head-brand-wrapper">
        <button class="gh-search" data-ghost-search>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            width="20"
            height="20"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
        </button>
        <a class="gh-burger" role="button">
          <div class="gh-burger-box">
            <div class="gh-burger-inner"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="gh-head-menu">
      <ul class="nav">
        <li class="nav-home nav-current">
          <a href="https://blog.multi-brick.com/">Home</a>
        </li>
        <li class="nav-event">
          <a href="https://blog.multi-brick.com/event/">Event</a>
        </li>
        <!-- <li class="nav-jobs">
          <a href="https://blog.multi-brick.com/multibrick-is-hiring/"
            >Jobs</a
          >
        </li> -->
      </ul>
    </div>
    <div class="gh-head-actions">
      <button class="gh-search" data-ghost-search>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          width="20"
          height="20"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </button>
      <div class="gh-social">
        <a
          class="gh-social-link gh-social-twitter"
          href="https://twitter.com/multibrick"
          title="Twitter"
          target="_blank"
          rel="noopener"
          ><svg
            class="icon"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <path
              d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"
            /></svg
        ></a>
      </div>
    </div>
  </nav>